@import url(https://fonts.googleapis.com/css?family=Old+Standard+TT|Droid+Serif|Josefin+Sans|Oswald:400,300);

body {
	font-family: 'Droid Serif', serif;
}

.top-bar, .title-bar {
	background-color: rgba(0, 0, 0, 0.6);
	position: absolute;
	width: 100%;
}

.top-bar {
	padding: 0;
}

.top-bar ul{
	background-color: rgba(0, 0, 0, 0);
}

.menu a{
	font-size: 14px;
	color: #fff;
}

.menu a:hover{
	color: #fff;
}

li a {
	font-family: 'Oswald';
	letter-spacing: 2px;
}

a.name {
	font-size: 16px;
	letter-spacing: 2px;
	color: #fff;
}

.hero {
	padding-bottom: 6em;
}

.sectionhead {
	padding-bottom: 2em;
	padding-top: 2em;
	margin-top: 20px;
}

.sectionhead h2 {
	font-family: 'Josefin Sans', serif;
}

.bandcamp {
	max-width: 720px;
}

.row {
	padding-bottom: 8em;
}

.bio {
	font-family: 'Droid Serif', serif;
	font-size: 16px;
}

.biocolumn {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.bioimg {
	margin-left: auto;
	margin-right: auto;
	max-width: 900px;
}

.contactcol {
	width: 720px;
	margin-left: auto;
	margin-right: auto;
}

.formfield {
	max-width: 720px;
	padding-bottom: 2em;
}

form {
	max-width: 720px;
}

.message {
	height: 150px;
}

.videocap {
	text-align: center;
}

.medialink {
	text-align: center;
	font-size: 18px;
	font-family: 'Droid Serif', sans-serif;
}

.sendbutton {
	background-color: #000;
	color: #fff;
	border: none;
	padding: 10px;
}

.thumbnail {
	border: none;
}

.podcastvid {
	width: 500px;
	margin-right: auto;
	margin-left: auto;
}

.videocol {
	width: 40%;
}


.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
}

.socialicon {
	margin-left: 3px;
	margin-right: 3px;
}

