@import url(https://fonts.googleapis.com/css?family=Old+Standard+TT|Droid+Serif|Josefin+Sans|Oswald:400,300);

body {
	font-family: 'Droid Serif', serif;
}

.top-bar, .title-bar {
	background-color: rgba(255, 255, 255, 0.5);
	position: absolute;
	width: 100%;
}

.top-bar {
	padding: 0;
}

.top-bar ul{
	background-color: rgba(255, 255, 255, 0);
}

.menu a{
	font-size: 14px;
	color: #fff;
}

.menu a:hover{
	color: #000;
}

li a {
	font-family: 'Oswald';
	letter-spacing: 2px;
}

a.name {
	font-size: 18px;
	letter-spacing: 2px;
	color: #000;
}

.hero {
	padding-bottom: 7em;
}

.sectionhead {
	padding-bottom: 2em;
	padding-top: 2em;
}

.sectionhead h2 {
	font-family: 'Josefin Sans', serif;
}

.bandcamp {
	max-width: 720px;
}

.row {
	padding-bottom: 9em;
}

.bio {
	font-family: 'Droid Serif', serif;
	font-size: 18px;
}

.contactcol {
	width: 720px;
	margin-left: auto;
	margin-right: auto;
}

.formfield {
	max-width: 720px;
	padding-bottom: 2em;
}

form {
	max-width: 720px;
}

.message {
	height: 150px;
}

.videocap {
	text-align: center;
}

.medialink {
	text-align: center;
	font-size: 18px;
	font-family: 'Droid Serif', sans-serif;
}

.sendbutton {
	background-color: #000;
	color: #fff;
	border: none;
	padding: 10px;
}

