@import url(https://fonts.googleapis.com/css?family=Old+Standard+TT|Droid+Serif|Josefin+Sans|Oswald:400,300);


.top-bar, .title-bar {
	background-color: rgba(255, 255, 255, 0.7);
	position: absolute;
	width: 100%;
}

.top-bar ul{
	background-color: rgba(255, 255, 255, 0);
}

.menu {
	font-size: 16px;
}

li a {
	font-family: 'Oswald';
	letter-spacing: 2px;
}

a.name {
	font-size: 20px;
	letter-spacing: 2px;
}

.hero {
	padding-bottom: 7em;
}

.sectionhead {
	padding-bottom: 2em;
	padding-top: 2em;
}

.sectionhead h2 {
	font-family: 'Josefin Sans', serif;
}

.bandcamp {
	max-width: 720px;
}

.row {
	padding-bottom: 9em;
}

.bio {
	font-family: 'Droid Serif', serif;
	font-size: 18px;
}

.contactcol {
	width: 720px;
}

.formfield {
	max-width: 720px;
	padding-bottom: 2em;
}

form {
	max-width: 720px;
}
